/* shared style  */
.clr-primary{
    background-color:darkorange ;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}


/* shared style  */




/* header style */

.header{
    background-color: #FFF8F3;
    
}

nav{display: flex;
justify-content: space-between;
align-items: center;
margin: 30px 30px 30px 150px;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.r{color: darkorange;}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    
}
nav ul li{margin: 50px;}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner-content{
    width: 50%;
}
.profile-pic{width: 500px;}
/* header style */